
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b1b1b1;
    margin: 0;
    font-family: Arial, sans-serif;
}

form {
    background-color: white;

    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-align: left;
    width: 650px;
    position: relative;
    color: black;
}



label {
  display: block;
margin-bottom: 10px;
text-align: left; 
}
#question-container h3 {
 text-align: left; 
}
input[type="radio"]:checked + label {
    color: #f26526; /* Highlight color for selected answer */
}

#quiz-form {
    text-align: center;
}



#next-button:disabled {
    background-color: #ccc; /* Disable color */
    cursor: not-allowed;
}


#submit-button {
    display: none;
    background-color: white;
    color: black;
}
#submit-button:hover {
    background-color: black;
    color: white;
}
button {
    background: white;
    border: 2px groove black;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background: black;
    color: white;
}


#timer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #e74c3c; /* Red color for timer */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}