
body {
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 50%;
}

h1 {
    color: #333;
    margin: 0;
}

p {
    color: #666;
    line-height: 1.5;
}

button {
background: white;
border: none;
border: 2px groove black;
padding: 10px 20px;
border-radius: 25px;
cursor: pointer;
font-size: 16px;
margin-top: 15px;
transition: all .8s;
}

button:hover {
    background: black;
    color: white;
}
.content-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 72vh;
}
@media only screen and (max-width: 980px) {
    .container {

    width: 75%;
}
}
@media only screen and (max-width: 425px) {
    .container {

    width: 95%;
    bottom: 0;
}
}
